@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
:root.light {
  /* --fg: #fff;
  --darkAc: #333;
  --bodyContentDark: #bdbdbd;
  --subDataDark: #4f4f4f;
  --linkBgDark: #333333;
  --subTextDark: #ffffff; */

  --bg: #fff;
  --fg:#000;
  --lightAc: #828282;
  --bodyContent: #4f4f4f;
  --subData: #4f4f4f;
  --linkBg: #bdbdbd;
  --subText: #333333;
  --border: #c5c5c5;
}
:root.dark {
  /* --fg: #fff;
  --darkAc: #333;
  --bodyContentDark: #BDBDBD;
  --subDataDark: rgba(255, 255, 255, 0.4);
  --linkBgDark: #333333;
  --subTextDark: #FFFFFF; */

  --fg:#fff;
  --bg: #000;
  --lightAc: #828282;
  --bodyContent: #bdbdbd;
  --subData: rgba(255, 255, 255, 0.4);
  --linkBg: #333333;
  --subText: #ffffff;
  --border: #1b240f;
}

body {
  margin: 0px;
  background-color: var(--bg);
  color: var(--fg);
  transition: 0.2s;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.hero {
  position: relative;
  overflow: hidden;
}

/* .button-overlay{
  margin-top: 20px;
} */

.enq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightAc);
  margin: 12px;
  margin-top: 0px;
}

.enq-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  width: 100%;
}

input {
  border-radius: 14px;
  padding: 10px;
  margin-top: 24px;
  width: 85%;
  height: 58px;
  background-color: var(--linkBg);
  color: var(--bodyContent);
  border: none;
}

input[type="submit"] {
  background-color: #beff6c;
  color: #000;
}

#butnLgt {
  display: none;
}

input[name="subject"] {
  height: 229px;
  text-align: left;
  vertical-align: top;
}

input[name="subject"]::placeholder {
  position: absolute;
  top: 1rem;
}

.bank-section {
  padding: 12px;
}

.bank-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 6%;
  margin: 5% 10%;
  width: 85%;
  box-sizing: border-box;
  border: 1px solid var(--darkAc);
  border-radius: 14px;
}

.bank-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 14px;
}

.bank-col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 14px;
}

.dtl-head {
  color: var(--subData);
  font-size: 12px;
  margin: 0px;
}

.dtl {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--subText);
}

.head {
  color: var(--lightAc);
  font-size: 14px;
  font-weight: 600;
  padding: 10% 0px 0px 0px;
  margin: 0px;
  align-self: center;
}

.section {
  text-align: center;
  width: 100%;
}


.card {
  box-sizing: border-box;
  width: 100%;
  max-width: 167px;
  height: 200px;
  border: 1px solid var(--lightAc);
  background-color: var(--bg);
  border-radius: 14px;
  position: relative;
  /* padding: 2px; */
  /* padding: 2px 0 10px 0; */
}

.card-image {
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  background-image: url("image.png");
  background-size: cover;
  border: 1px solid var(--lightAc);
  border-radius: 14px 14px 0 0;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--bg);
  border-radius: 0 0 14px 14px;
  box-sizing: border-box;
}

.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--darkAc);
  margin: 0;
}

.card-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--lightAc);
  margin: 0;
}

.card-button {
  background-color: #beff6c;
  border-radius: 10px;
  width: 95%;
  height: 37px;
  margin-top: 8px;
  border-width: 1px;
  border: none;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightAc);
  margin: 12px;
}

.products-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  width: 100%;
}

.section hr {
  width: 60%;
  border: 1px solid var(--lightAc);
  margin: 2.5%;
}

.section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--linkBgDark);
  margin: 7.5%;
  width: auto;
  margin-bottom: 0px;
}

.services-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  flex-wrap: wrap;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--darkAc);
  font-weight: 600;
  background-color: var(--linkBg);
  padding: 2% 3% 2% 3%;
  border-radius: 73px;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin: 6px;
}

.s-title {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subText);
}

.submit_btn {
  width: 90%;
}

.embedding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--lightAc);
  width: 85%;
  height: auto;
  margin: 6%;
  min-height: 171px;
  height: auto;
}

.video {
  /* margin: 10%; */
  width: 100%;
  height: auto;
  min-height: 171px;
  min-width: 350px;
  height: auto;
}

iframe {
  border-radius: 15px;
  width: 100%;
  min-height: 171px;
  height: auto;
}

.websites-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  flex-wrap: wrap;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--linkBg);
  color: var(--darkAc);
  width: 100%;
  margin: 3% 10% 3% 10%;
  border-radius: 12px;
}

.link {
  padding: 4%;
  margin: 0px;
  color: var(--subText);
}

.image {
  background-color: #beff6c;
  margin: 5px;
  width: 49px;
  height: 49px;
  border-radius: 12px;
  border: none;
}

.image i {
  transform: scale(1.5);
}

.contacts-icons,
.sm-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 25px;
  column-gap: 25px;
  flex-wrap: wrap;
}

.discription {
  color: var(--subData);
}

.image-container {
  position: relative;
  top: -10vh;
}

.image-container img[alt="Image"] {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(.jpg), #000000;
  border: 0.5px solid rgba(43, 175, 164, 0.5);
  border-radius: 0px 0px 24px 24px;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  /* 50% opacity black */
  z-index: 1;
  /* make sure the overlay is below the div content */
}

.button-overlay {
  position: absolute;
  top: 100px;
  right: 30px;
  z-index: 1;
}

.button-overlay a {
  display: inline-block;
  padding: 10px;
  background-color: #333;
  color: var(--fg);
  text-decoration: none;
  border: 1px solid #beff6c;
  box-shadow: 1px 8px 31px rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(3.5px);
  border-radius: 14px;
}

.button-overlay a img {
  width: 18px;
  height: 18px;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  font-size: 12;
  color: #beff6c;
}

.contents p {
  padding: 0px;
  margin: 0px;
  padding-left: 1vw;
}

.profile-image-overlay {
  position: absolute;
  bottom: -5vh;
  left: 6vw;
  z-index: 3;
  width: 133px;
  height: 133px;
  border: 7px solid rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  overflow: hidden;
}

.profile-image-overlay img {
  position: relative;
  top: -20px;
  width: 100%;
  border-radius: 32px;
}

.glassy-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6.5px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  border-radius: 0px 0px 24px 24px;
}

.glassy-strip h2 {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: 40vw;
}

.discription {
  height: fit-content;
  margin-top: -7.5vh;
  margin-bottom: 5vw;
  margin-left: 40vw;
  line-height: 1vh;
}

.main-section {
  width: auto;
  height: auto;
  margin: 3rem;
  padding: 2rem;
  text-align: left;
  border: 1px solid var(--border);
  border-radius: 14px;
  color: var(--bodyContent);
}

.details {
  color: var();
}

.model_container {
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.model {
  width: 90%;
  height: fit-content;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #0e0e0e;
  border-radius: 16px;
  /* flex: 1; */
}
.demo {
  flex: 1;
  width: 100%;
  height: 200px;
}
.model > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}
.input_section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
  margin: 0;
  width: 90%;
  background-color: #333333;
  border-radius: 16px;
}
.input_section > i {
  color: #beff6c;
  font-size: 20px;
}

.input_section > input {
  margin: 0;
  width: 90%;
  background-color: #333333;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #beff6c;
}
.input_section > input:focus {
  outline: none;
}

.show {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: none;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #00000074;
  opacity: 1;
}
/* .model_animation {

} */
